@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #f6f7f9;
  color: #17202a;
}

.leaflet-container {
  height: 100%;
  min-height: 320px;
  width: 100%;
}
